<div class="flex flex-col-2 justify-between bg-teal-900 ">
<div class="mx-10 w-3/5 p-7">
    <h4 class="text-5xl text-white">Toma el control de tu entrenamiento</h4>
    <p class="p-1 text-md text-white">Como gimnasta, eres consciente de que organizar los entrenamientos y monitorear el progreso es uno de los mayores desafíos en la preparación. Diseñamos esta aplicación para facilitar esa tarea.</p>
</div>
<div class="mx-10 w-2/5 flex items-center justify-center">
    <a class="bg-teal-600 text-white text-2xl px-8 py-4 rounded-2xl hover:bg-teal-700 transition" routerLink="/login">
        Comenzar
      </a>
      
</div>
</div>
