<header class="sticky top-0 left-0 w-full bg-teal-950 bg-opacity-0 transition duration-300 shadow-md z-50">
  <app-navbar></app-navbar>
</header>
<!-- PARTE VERDE -->
<div class="flex flex-col md:flex-row justify-between bg-teal-900">
  <div class="p-7 mx-5 md:mx-10 md:w-3/5">
    <h4 class="text-3xl md:text-5xl text-white font-bold">
      Toma el control de tu entrenamiento
    </h4>
    <p class="mt-4 text-sm md:text-md text-white">
      Como gimnasta o entrenador, eres consciente de que organizar los entrenamientos y
      monitorear el progreso es uno de los mayores desafíos en la preparación.
      Esta aplicación facilitará la tarea.
    </p>
  </div>
  <div
    class="mx-5 md:mx-10 md:w-2/5 flex items-center justify-center mb-6 md:mb-0"
  >
    <a
      class="bg-teal-600 text-white text-lg md:text-2xl px-6 md:px-8 py-3 md:py-4 rounded-2xl hover:bg-teal-700 transition"
      routerLink="/auth/login"
    >
      Comenzar
    </a>
  </div>
</div>
<!-- PARTE BLANCA -->
<div class="flex flex-col bg-emerald-100 py-10 px-4 z-0">
  <!-- Título -->
  <div class="flex justify-center mb-6">
    <h3
      class="text-3xl font-bold text-teal-900 hover:text-teal-700 text-center"
    >
      ¿En qué puede ayudarte la aplicación GymTracker?
    </h3>
  </div>

  <!-- Cards -->
  <div class="flex flex-wrap justify-center gap-6">
    <a href="#" class="group relative block h-56 w-60 sm:h-64 lg:h-72">
      <span
        class="absolute inset-0 border-2 border-dashed border-teal-900"
      ></span>

      <div
        class="relative flex h-full w-full transform flex-col items-center justify-center border-2 border-black bg-emerald-50 transition-transform group-hover:scale-105"
      >
        <div
          class="flex flex-col items-center justify-center text-center h-full p-4 transition-opacity group-hover:absolute group-hover:opacity-0 sm:p-6 lg:p-8"
        >
          <svg
            class="h-16 w-16 mb-2"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            fill="#000000"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <defs>
                <style>
                  .a {
                    fill: none;
                    stroke: #000000;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-width: 1.5px;
                  }
                </style>
              </defs>
              <line class="a" x1="2" x2="22" y1="20" y2="20"></line>
              <path
                class="a"
                d="M5,20V8.2A.2.2,0,0,1,5.2,8H7.8a.2.2,0,0,1,.2.2V20"
              ></path>
              <path
                class="a"
                d="M11,20V4.26667C11,4.11939,11.08954,4,11.2,4h2.6c.11046,0,.2.11939.2.26667V20"
              ></path>
              <path
                class="a"
                d="M17,20V11.15c0-.08284.08954-.15.2-.15h2.6c.11046,0,.2.06716.2.15V20"
              ></path>
            </g>
          </svg>
          <h2
            class="mt-2 text-xl font-semibold text-teal-900 sm:text-2xl text-center"
          >
            Controla tu entreno
          </h2>
        </div>

        <div
          class="absolute p-4 opacity-0 transition-opacity group-hover:relative group-hover:opacity-100 sm:p-6 lg:p-8 text-justify"
        >
          <h3 class="mt-4 text-xl font-medium sm:text-2xl text-center">
            Controla tu entreno
          </h3>
          <p class="mt-4 text-sm sm:text-base text-center">
            Podrás ver tus estadísticas conforme vayas entrenando día a día
          </p>
        </div>
      </div>
    </a>

    <!-- Otra card -->
    <a href="#" class="group relative block h-56 w-60 sm:h-64 lg:h-72">
      <span
        class="absolute inset-0 border-2 border-dashed border-teal-900"
      ></span>

      <div
        class="relative flex h-full w-full transform flex-col items-center justify-center border-2 border-black bg-emerald-50 transition-transform group-hover:scale-105"
      >
        <div
          class="flex flex-col items-center justify-center text-center h-full p-4 transition-opacity group-hover:absolute group-hover:opacity-0 sm:p-6 lg:p-8"
        >
          <svg
            fill="#000000"
            width="64px"
            height="64px"
            viewBox="0 0 1024 1024"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <path
                d="M957.442 547.84h56.32c11.311 0 20.48-9.169 20.48-20.48s-9.169-20.48-20.48-20.48h-56.32c-11.311 0-20.48 9.169-20.48 20.48s9.169 20.48 20.48 20.48zm-630.79 0h389.13c11.311 0 20.48-9.169 20.48-20.48s-9.169-20.48-20.48-20.48h-389.13c-11.311 0-20.48 9.169-20.48 20.48s9.169 20.48 20.48 20.48zm-295.932 0h56.32c11.311 0 20.48-9.169 20.48-20.48s-9.169-20.48-20.48-20.48H30.72c-11.311 0-20.48 9.169-20.48 20.48s9.169 20.48 20.48 20.48z"
              ></path>
              <path
                d="M788.48 788.48c-39.471 0-71.68-32.209-71.68-71.68V337.92c0-39.471 32.209-71.68 71.68-71.68s71.68 32.209 71.68 71.68V716.8c0 39.471-32.209 71.68-71.68 71.68zm0-40.96c16.849 0 30.72-13.871 30.72-30.72V337.92c0-16.849-13.871-30.72-30.72-30.72s-30.72 13.871-30.72 30.72V716.8c0 16.849 13.871 30.72 30.72 30.72z"
              ></path>
              <path
                d="M890.88 650.24c-39.471 0-71.68-32.209-71.68-71.68v-102.4c0-39.471 32.209-71.68 71.68-71.68s71.68 32.209 71.68 71.68v102.4c0 39.471-32.209 71.68-71.68 71.68zm0-40.96c16.849 0 30.72-13.871 30.72-30.72v-102.4c0-16.849-13.871-30.72-30.72-30.72s-30.72 13.871-30.72 30.72v102.4c0 16.849 13.871 30.72 30.72 30.72zM256 747.52c16.849 0 30.72-13.871 30.72-30.72V337.92c0-16.849-13.871-30.72-30.72-30.72s-30.72 13.871-30.72 30.72V716.8c0 16.849 13.871 30.72 30.72 30.72zm0 40.96c-39.471 0-71.68-32.209-71.68-71.68V337.92c0-39.471 32.209-71.68 71.68-71.68s71.68 32.209 71.68 71.68V716.8c0 39.471-32.209 71.68-71.68 71.68z"
              ></path>
              <path
                d="M153.6 609.28c16.849 0 30.72-13.871 30.72-30.72v-102.4c0-16.849-13.871-30.72-30.72-30.72s-30.72 13.871-30.72 30.72v102.4c0 16.849 13.871 30.72 30.72 30.72zm0 40.96c-39.471 0-71.68-32.209-71.68-71.68v-102.4c0-39.471 32.209-71.68 71.68-71.68s71.68 32.209 71.68 71.68v102.4c0 39.471-32.209 71.68-71.68 71.68z"
              ></path>
            </g>
          </svg>
          <h2
            class="mt-2 text-xl font-semibold text-teal-900 sm:text-2xl text-center"
          >
            Apunta tu progreso
          </h2>
        </div>

        <div
          class="absolute p-4 opacity-0 transition-opacity group-hover:relative group-hover:opacity-100 sm:p-6 lg:p-8 text-justify"
        >
          <h3 class="mt-4 text-xl font-medium sm:text-2xl text-center">
            Apunta tu progreso
          </h3>
          <p class="mt-4 text-sm sm:text-base text-center">
            Y lleva un control de lo que haces
          </p>
        </div>
      </div>
    </a>

    <!-- Otra card -->
    <a href="#" class="group relative block h-56 w-60 sm:h-64 lg:h-72">
      <span
        class="absolute inset-0 border-2 border-dashed border-teal-900"
      ></span>

      <div
        class="relative flex h-full w-full transform flex-col items-center justify-center border-2 border-black bg-emerald-50 transition-transform group-hover:scale-105"
      >
        <div
          class="flex flex-col items-center justify-center text-center h-full p-4 transition-opacity group-hover:absolute group-hover:opacity-0 sm:p-6 lg:p-8"
        >
          <svg
            width="64px"
            height="64px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <path
                d="M10 21H6.2C5.0799 21 4.51984 21 4.09202 20.782C3.71569 20.5903 3.40973 20.2843 3.21799 19.908C3 19.4802 3 18.9201 3 17.8V8.2C3 7.0799 3 6.51984 3.21799 6.09202C3.40973 5.71569 3.71569 5.40973 4.09202 5.21799C4.51984 5 5.0799 5 6.2 5H17.8C18.9201 5 19.4802 5 19.908 5.21799C20.2843 5.40973 20.5903 5.71569 20.782 6.09202C21 6.51984 21 7.0799 21 8.2V10M7 3V5M17 3V5M3 9H21M13.5 13.0001L7 13M10 17.0001L7 17M14 21L16.025 20.595C16.2015 20.5597 16.2898 20.542 16.3721 20.5097C16.4452 20.4811 16.5147 20.4439 16.579 20.399C16.6516 20.3484 16.7152 20.2848 16.8426 20.1574L21 16C21.5523 15.4477 21.5523 14.5523 21 14C20.4477 13.4477 19.5523 13.4477 19 14L14.8426 18.1574C14.7152 18.2848 14.6516 18.3484 14.601 18.421C14.5561 18.4853 14.5189 18.5548 14.4903 18.6279C14.458 18.7102 14.4403 18.7985 14.405 18.975L14 21Z"
                stroke="#000000"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </g>
          </svg>
          <h2
            class="mt-2 text-xl font-semibold text-teal-900 sm:text-2xl text-center"
          >
            Planificación semanal
          </h2>
        </div>

        <div
          class="absolute p-4 opacity-0 transition-opacity group-hover:relative group-hover:opacity-100 sm:p-6 lg:p-8 text-justify"
        >
          <h3 class="mt-4 text-xl font-medium sm:text-2xl text-center">
            Planificación semanal
          </h3>
          <p class="mt-4 text-sm sm:text-base text-center">
            Para planificar tu rutina
          </p>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="flex flex-col bg-emerald-100 py-10 px-4 z-0">
  <!-- Título -->
  <div class="flex justify-center mb-6">
    <h3
      class="text-3xl font-bold text-teal-900 hover:text-teal-700 text-center"
    >
      ¿Para quién es útil?
    </h3>
  </div>

  <!-- Cards -->
  <div class="flex flex-wrap justify-center gap-4 p-4 lg:mx-40">
    <div class="w-full max-w-[250px] aspect-square mx-auto bg-transparent rounded-full overflow-hidden flex flex-col items-center justify-center">
      <img
        class="w-[70%] h-[70%] max-w-[220px] max-h-[220px] rounded-full object-cover"
        src="https://titanboxwear.com/wp-content/uploads/sentadilla-con-barra.jpg"
        alt="Imagen de perfil"
      />
      <div class="text-center mt-2 sm:mt-4">
        <p class="text-gray-700 text-base sm:text-lg font-semibold">Profesionales</p>
      </div>
    </div>
    <div class="w-full max-w-[250px] aspect-square mx-auto bg-transparent rounded-full overflow-hidden flex flex-col items-center justify-center">
      <img
        class="w-[70%] h-[70%] max-w-[220px] max-h-[220px] rounded-full object-cover"
        src="https://gymfactory.net/wp-content/uploads/2021/06/10-consejos-para-ganar-clientes-800x600.jpeg"
        alt="Imagen de perfil"
      />
      <div class="text-center mt-2 sm:mt-4">
        <p class="text-gray-700 text-base sm:text-lg font-semibold">Entrenadores</p>
      </div>
    </div>
    <div class="w-full max-w-[250px] aspect-square mx-auto bg-transparent rounded-full overflow-hidden flex flex-col items-center justify-center">
      <img
        class="w-[70%] h-[70%] max-w-[220px] max-h-[220px] rounded-full object-cover"
        src="https://hips.hearstapps.com/hmg-prod/images/gym-workout-66d087d56ef90.jpg"
        alt="Imagen de perfil"
      />
      <div class="text-center mt-2 sm:mt-4 font-semibold">
        <p class="text-gray-700 text-base sm:text-lg">Para ti</p>
      </div>
    </div>
  </div>
</div>
