<footer class="w-full flex flex-col md:flex-row items-center justify-between px-6 py-8 bg-teal-950 text-white">
    <!-- Sección izquierda: Logo y nombre -->
    <div class="flex items-center space-x-4 mb-6 md:mb-0">
      <img src="/favicon.png" width="50px" alt="Logo">
      <span class="text-lg font-bold">GymTracker</span>
    </div>
  
    <!-- Sección central: Enlaces -->
    <div class="flex flex-col md:flex-row justify-center space-y-4 md:space-y-0 md:space-x-6 mb-6 md:mb-0">
      <a href="/about" class="hover:text-gray-400 transition">Acerca de nosotros</a>
      <a href="/contact" class="hover:text-gray-400 transition">Contacto</a>
    </div>
  
    <!-- Sección derecha: Copyright -->
    <div class="text-sm text-gray-400">
      © 2025 GymTracker. Todos los derechos reservados.
    </div>
  </footer>